extends layout

block content
    .container
        .row
            .box
              .col-lg-12
                hr               
                h2.intro-text.text-center
                  | About
                  strong Us                    
                hr                
              .col-lg-12.text-center
                img.img-responsive.img-border(src='/images/chefCe.png', alt='')                    
                h2
                  | Chef de Cuisine 
                  br                      
                  small Celine Tubianosa  
                p
                  | With well-rounded chef experience, talent - skill   in the culinary industry for over (8) years, have proven worked for some of Philippines' well respected restaurants, hotels, institutions and catering firms. I look forward to having the opportunity to bring my passion to your dining table. Unfolding to you a variety of cuisines specific to your culinary and dietary enjoyment. Each carefully created dish fresh, local-raised ingredients, as available delivering maximum quality.                 
                hr
              .col-lg-12.text-center
                img.img-responsive.img-border(src='/images/chefAli.png', alt='')         
                h2
                  | Sous Chef & Pastry Chef
                  br                
                  small Alejandro Domantay Jr.
                 p
                  | Chef Alejandro has been a personal chef with over 13 years experience working for private families. His passion stands out in making sure his clients feel that their time is valued and the meals they receive are a pleasure to consume. He enjoys cooking and baking all diverse world cuisines.
                hr   
              .col-lg-12.text-center
    // /.container
