extends layout

block content
  .container
    .row
        .box
          .col-lg-12
            hr                   
            h2.intro-text.text-center= header              
            hr
          each service, i in services                
            .col-lg-12.text-center
              img.img-responsive.img-border.img-full(src='/images/baking.jpg', alt='')                   
              h2= service.name                
              br
              p= service.description
              br
              p= service.price_range 
              br               
            hr
          .col-lg-12.text-center
    // /.container
