extends layout

block content
	.container
		.row
			.box
				.col-lg-12.text-center
					#carousel-example-generic.carousel.slide
						ol.carousel-indicators.hidden-xs
							li.active(data-target='#carousel-example-generic', data-slide-to='0')                        
							li(data-target='#carousel-example-generic', data-slide-to='1')    
							li(data-target='#carousel-example-generic', data-slide-to='2')
						.carousel-inner
							.item.active
								img.img-responsive.img-full(src='/images/f1.jpg', alt='')    
							.item
								img.img-responsive.img-full(src='/images/f2.jpg', alt='')                      
							.item
								img.img-responsive.img-full(src='/images/f3.jpg', alt='')
							.item
								img.img-responsive.img-full(src='/images/f4.jpg', alt='')
							.item
								img.img-responsive.img-full(src='/images/f5.jpg', alt='')
							.item
								img.img-responsive.img-full(src='/images/f6.jpg', alt='')
							.item
								img.img-responsive.img-full(src='/images/f7.jpg', alt='')
							.item
								img.img-responsive.img-full(src='/images/f8.jpg', alt='')

					a.left.carousel-control(href='#carousel-example-generic', data-slide='prev')
						span.icon-prev              
					a.right.carousel-control(href='#carousel-example-generic', data-slide='next')
						span.icon-next               
					h2.brand-before
					small Welcome to          
					h1.brand-name Chase the Flavors             
					hr.tagline-divider                  
					h2
						small
						| Personal Chef Services By 
						strong Ali&Cece
		.row
			.box
				.col-lg-12
					hr              
					h2.intro-text.text-center
						| Build a website
						strong worth visiting                  
					hr                   
					img.img-responsive.img-border.img-left(src='/images/blacklogo.png', alt='')                  
					hr.visible-xs    
					br
					p
					| Chase the Flavors is a Manila based business that focuses on personalized meal planning.  We handle the planning, shopping, meal prep, and the cleanup. We have experience with dietary restrictions, i.e., gluten free, vegetarian, low carb, etc.
					br
					p
					| We are very specific to the client’s needs in terms of dietary and convenience.  Additionally, meal planning can be mentally exhausting and food shopping is time consuming. And don’t forget how long it takes to cook and clean up! Let us help. Get meals for you and your family without time-consuming meal planning, fighting traffic, or lengthy lines at the grocery story. Chase the Flavors | Personal Chef Services will create fabulous, chef-prepared, healthy meals that come in one easy-to-heat package. Individually portioned, these home cooked classics make excellent office lunches that are convenient to carry and fast to heat up. In only five minutes, you can heat and eat a gourmet prepared meal.
		.row
			.box
				.col-lg-12.text-center
					hr 
					h2.intro-text.text-center
						| Customer
						strong Testimonials                 
					hr                
					p
					| If you like BBQ, you must try Chef Celine’s homemade sauces. Her BBQ sauce is hands down the best we’ve ever had. -Richard G. 
					br
					br
					p
					| Celine is a superb chef and person. Her services are such a perfect fit for our busy lives! -Amanda Sy
					br
					br
					p
					| We hosted an in-home dinner for a lawyer colleague and friends from Singapore. Chef Alejandro took care of everything, from planning the menu, to purchasing the food, to assisting us in setting the table, to cooking and serving. He was a complete professional and a pleasure to deal with. More importantly, the food was excellent! Our guests continue to rave about it. We will certainly be hiring Alejandro again, in the very near future, and give him our highest recommendation. -Harry & Pearl Diaz





